@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<hr />
<h1>Новости:</h1>
<hr />

@foreach (var news in Model)
{
    <div>
        <div>Новость @news.Id :</div>
        <div><b>@news.Title</b></div>
        <div>@news.Description</div>
        <div>Дата: @news.Date</div>
    </div>
    <hr />
}